<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="menu" size="large" class="ion-padding" (click)="verMenu()"></ion-icon>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <img src="/assets/imgs/libros.gif"/>
    <ion-card-header>
      <ion-card-title class="ion-text-center">ListApp</ion-card-title>
      <ion-card-subtitle class="ion-text-center">Connie & Nico Dev</ion-card-subtitle>
      <ion-card-subtitle class="ion-text-center">c11NFP® Dev</ion-card-subtitle>
      <ion-card-subtitle class="ion-text-center">Versión 2.0</ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
  </ion-card>
</ion-content>
