<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="Login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <h3>Registro</h3>
  <form>
    <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input required [(ngModel)]="datos.nombre"[ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input required [(ngModel)]="datos.correo"[ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input required [(ngModel)]="datos.password"[ngModelOptions]="{standalone: true}" type="password"></ion-input>
    </ion-item>
  </form>
  <form >
    <ion-button color="tertiary" (click)="registrar()">Registrar</ion-button>
    <ion-button color="tertiary" [routerLink]="['/sign']">¿Olvidaste tu Contraseña?</ion-button>
  </form>
</ion-content>
