<ion-header>
  <ion-toolbar>
      <ion-icon slot="start" name="menu" size="large" class="ion-padding" (click)="verMenu()"></ion-icon>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngFor="let x of clases">
    <br>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{x.asignatura}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Asistencia:</ion-label>
          <ion-label>{{x.asistencia}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Ultimo registro:</ion-label>
          <ion-label>{{x.fecha}}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-button class="ion-padding" size="block" (click)="getDetalle(x.asignatura)">
    <ion-icon name="information-circle-outline"></ion-icon>
      Mas info
    </ion-button>
    <br>
  </ion-list>
</ion-content>
