<ion-content class="ion-padding">
  <h1>Bienvenido/a,</h1>
  <h3>Inicia sesión para continuar!</h3>

    <form id="foring">
    <ion-item id="forming">
        <ion-label position="floating">Correo de Usuario</ion-label>
        <ion-input type="email" name="email" required [(ngModel)]="credenciales.email"[ngModelOptions]="{standalone: true}" clearInput></ion-input>
    </ion-item>
    <ion-item id="forming">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="credenciales.password"[ngModelOptions]="{standalone: true}" clearInput></ion-input>
  </ion-item>
  </form>

  <form>
    <ion-button color="primary" shape="round" (click)="login()">Ingresar</ion-button>
    <ion-button color="tertiary" shape="round" type="submit" [routerLink]="['/registro']">Crear una cuenta</ion-button>
    <ion-button expand="block" color="tertiary" shape="round" [routerLink]="['/passrecover']">Olvide mi Contraseña</ion-button>
  </form>
</ion-content>

