<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
        <ion-icon slot="end" name="close" size="large" class="ion-padding" (click)="cerrarMenu()">
        </ion-icon>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item detail routerLink="/home" (click)="cerrarMenu()">
          <ion-icon slot="start" name="home-outline"></ion-icon>
          Inicio
        </ion-item>
        <ion-item detail routerLink="/perfil" (click)="cerrarMenu()">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          Perfil
        </ion-item>
        <ion-item detail routerLink="/asignaturas" (click)="cerrarMenu()">
          <ion-icon slot="start" name="list-outline"></ion-icon>
          Asistencia
        </ion-item>
        <ion-item detail routerLink="/qr" (click)="cerrarMenu()">
          <ion-icon slot="start" name="qr-code-outline"></ion-icon>
          Leer QR
        </ion-item>
        <ion-item detail routerLink="/acerca" (click)="cerrarMenu()">
          <ion-icon slot="start" name="information-circle-outline"></ion-icon>
          Acerca de
        </ion-item>
        <ion-menu-toggle>
          <ion-item detail (click)="logout()" class="cerrar">
            <ion-icon slot="start" name="exit-outline"></ion-icon>
              Cerrar Sesion
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
