ion-content{
  --background: linear-gradient( to right , #012C56, #345678);
}


ion-card{
  background-color: #345678;
  text-align: center;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  
}

ion-card-title{
  color: #fff;
}

.main_content_div{
  width: 100%;

  .menu_btn{
    position: relative;
    top: 40px;
    left: 10px;
  }

  ion-label{
    display: block;
    color: #012C56;
    text-align: center;
  }

  .user_div{
    padding: 20px;
    width: 100%;
    height: 260px;
    background:linear-gradient( to right , #012C56, #345678);
    display: flex;
    padding-top: 40px;
    justify-content: space-between;

    .first_div{
      padding-top: 35px;
      .welcome{
        font-size: 18px;
        color: white;
        font-weight: 500;
      }

      .username{
        font-size: 24px;
        color: white;
        font-weight: 600;
      }
    }

    .user_back{
      height: 100px;
      width: 80px;
      box-shadow: 1px 3px 5px rgb(36, 36, 36);
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 7px;
    }
  }

  .content_div{
    background: white;
    width: 100%;
    border-top-right-radius: 75px;
    margin-top: -90px;
    padding-top: 30px;

    .hola_asignatura{
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 10px;
      padding-left: 5px;
      margin-top: 10px;
    }

    ion-grid{
      padding: 0px;
    }

    .col_div{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 150px;
      box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
      border-radius: 5px;

      img{
        width: 70px;
      }

      ion-label{
        color:var(--ion-color-primary);
        margin-top: 5px;
      }
    }

  }
}

.animated{
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInUp{
  0%{
    opacity: 0;
    -webkit-transform :translateY(100px);
  }
  60%{
    opacity: 1;
    -webkit-transform: translateY(-10px);
  }
  80%{

    -webkit-transform: translateY(10px);
  }

  100%{

    -webkit-transform: translateY(0px);
  }
}
.bounceInUp{
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@keyframes bounceInUp{
  0%{
    opacity: 0;
    -webkit-transform :translateY(2000px);
  }
  60%{
    opacity: 1;
    -webkit-transform: translateY(-30px);
  }
  80%{

    -webkit-transform: translateY(10px);
  }

  100%{

    -webkit-transform: translateY(0);
  }
}