<ion-content>
  <div id="main_content_div">
      <div id="app-bar">
        <ion-buttons slot="start" class="ion-padding" size="large">
          <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
      </div>
      <div id="logo"><img src="assets/logo.png"></div>
      <div class="user_div">
        <div class="first_div">
        </div>

        <div class="user_back" [style.backgroundImage]="'url(assets/01.jpg)'"></div>
      </div>

      <div class="content_div animated bounceInUp">

        <ion-grid fixed>
          <ion-row>
            <ion-item routerLink='/perfil'>
            <ion-card>
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-item>

          </ion-row>
        </ion-grid>
      </div>
  </div>
</ion-content>
